<navbar icon="fa fa-bell-o" title=" Alerts" title-url="org/alerts">
</navbar>

<div class="page-container">
    <div class="page-header">
        <h1>Alerts Actions</h1>
        <i ng-if="loading" class="fa fa-spinner fa-spin"></i>
        <div class="page-header-tabs">


            <ul class="gf-tabs">
                <li class="gf-tabs-item">
                    <a class="gf-tabs-link" ng-click="ctrl.editor.index = 0" ng-class="{active: ctrl.editor.index === 0}">
                        Pending Actions
                        &nbsp;<span class="badge btn btn-danger">({{ctrl.pendingAlerts.length}})</span>
                    </a>
                </li>
                <li class="gf-tabs-item">
                    <a class="gf-tabs-link" ng-click="ctrl.editor.index = 1" ng-class="{active: ctrl.editor.index === 1}">
                        Completed Actions &nbsp;<span class="badge btn btn-success">({{ctrl.completedAlerts.length}})</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <div ng-if="ctrl.editor.index === 0" class="tab-content">

        <table class="filter-table form-inline">
            <thead>
            <tr style="width:100px">

                <th>Alert Message</th>
                <th>Alert Type</th>
                <th></th>
                <th style="width: 34px;"></th>
            </tr>
            </thead>
            <tr ng-repeat="pendingAlert in ctrl.pendingAlerts">

                <td><span class="ellipsis">{{pendingAlert.alertMessage}}</span></td>


                <td>
                    <span class="ellipsis"> <i class="fa-user-times"  >&nbsp;</i>{{pendingAlert.alertType}}</span>
                </td>
                <td>
                    <a href="/org/alerts/edit/{{pendingAlert.id}}" class="btn btn-inverse btn-small">
                        <i class="fa fa-edit"></i>
                        Action
                    </a>
                </td>


                <td>

                </td>
            </tr>
        </table><br>&nbsp;&nbsp;


    </div>

    <div ng-if="ctrl.editor.index === 1" class="tab-content">

        <table class="filter-table form-inline">
            <thead>
            <tr style="width:100px">

                <th>Alert Message</th>

                <th>Alert Type </th>
                <th>Message </th>
                <th>Name </th>
                <th>Updated</th>
                <th style="width: 34px;"></th>
            </tr>
            </thead>
            <tr ng-repeat="completedAlert in ctrl.completedAlerts">

                <td><span class="ellipsis">{{completedAlert.alertMessage}}</span></td>
                <td><span class="ellipsis">{{completedAlert.alertType}}</span></td>
                <td><span class="ellipsis">{{completedAlert.message}}</span></td>
                <td><span class="ellipsis">{{completedAlert.name}}</span></td>
                <td><span class="ellipsis">{{completedAlert.updated| date:'MMM d, yyyy H:mm'}}</span></td>
                <td>

                </td>
            </tr>
        </table><br>&nbsp;&nbsp;
    </div>

    <div ng-if="ctrl.editor.index === 2" class="tab-content">


        <table class="filter-table form-inline">
            <thead>
            <tr style="width:100px">

                <th>Alert Message</th>

                <th>Updated By</th>
                <th>Updated Time</th>
                <th style="width: 34px;"></th>
            </tr>
            </thead>
            <tr ng-repeat="mActivity in ctrl.maintenanceActivity">

                <td><span class="ellipsis"><i class="fa fa-envelope"  >&nbsp;</i>{{mActivity.message}}</span></td>


                <td>
                    <span class="ellipsis"><i class="fa fa-user"  >&nbsp;</i>{{mActivity.name}}</span>
                </td>
                <td>
                    <span class="ellipsis"><i class="fa fa-clock-o"  >&nbsp;&nbsp;</i>{{mActivity.updated| date:'MMM d, yyyy H:mm'}}</span>
                </td>
                <td>
                    <span class="ellipsis"></span>
                </td>

            </tr>
        </table><br>&nbsp;&nbsp;
    </div></div>
