<navbar icon="fa fa-bell-o" title=" Alerts" title-url="org/maintenanceAlerts">
</navbar>

<div class="page-container">
  <div class="page-header">
    <h1>Alerts Actions</h1>
    <i ng-if="loading" class="fa fa-spinner fa-spin"></i>
    <div class="page-header-tabs">


      <ul class="gf-tabs">
        <li class="gf-tabs-item">
          <a class="gf-tabs-link" ng-click="ctrl.editor.index = 0" ng-class="{active: ctrl.editor.index === 0}">
             MalFunctional Alerts
          </a>
        </li>
        <li class="gf-tabs-item">
          <a class="gf-tabs-link" ng-click="ctrl.editor.index = 1" ng-class="{active: ctrl.editor.index === 1}">
            Maintenance Alerts
          </a>
        </li>
        <li class="gf-tabs-item">
          <a class="gf-tabs-link" ng-click="ctrl.editor.index = 2" ng-class="{active: ctrl.editor.index === 2}">
            Maintenance Activity
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div ng-if="ctrl.editor.index === 0" class="tab-content">

    <form name="parentProcessForm">
      <div class="gf-form-group">
        <div class="gf-form-inline">
          <div class="gf-form max-width-14">
            <span class="gf-form-label"> <i class="fa fa-filter"></i>&nbsp;Interval</span>
            <select type="text" ng-model="alerts.interval" class="input-medium" ng-options="f for f in ['Daily', 'Monthly', 'Quaterly', 'Yearly']" >
            </select>
          </div>&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="gf-form max-width-14">
            <button type="submit" class="btn btn-success" ng-click="ctrl.getAlerts(alerts);"><i class="fa fa-bell-o"></i>Get Alert Messages</button>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>



    </form>


    <table class="filter-table form-inline">
      <thead>
      <tr style="width:100px">

        <th>Alert Message</th>

        <th>Status</th>
        <th></th>
        <th style="width: 34px;"></th>
      </tr>
      </thead>
      <tr ng-repeat="mAlert in ctrl.maintenanceAlert">

        <td><span class="ellipsis">{{mAlert.message}}</span></td>


        <td>
          <span class="ellipsis"> <i class="fa fa-exclamation-triangle" ng-if="'Done'!=mAlert.status" >&nbsp;</i>{{mAlert.status}}</span>
        </td>

        <td class="text-right" >

          <button ng-if="'Done'!=mAlert.status" class="btn btn-success"   ng-click="ctrl.openMaintenanceAlertModal(mAlert)" [ngStyle]="{style: expression}">
            <i class="fa fa-wrench"></i>
            Action
          </button>
        </td>

        <td>

        </td>
      </tr>
    </table><br>&nbsp;&nbsp;


  </div>
  <div ng-if="ctrl.editor.index === 1" class="tab-content">


    <form name="maintenanceHistoryForm">
      <div class="gf-form-group">
        <div class="gf-form-inline">
          <div class="gf-form max-width-14">
            <span class="gf-form-label"> <i class="fa fa-filter"></i>&nbsp;Interval</span>
            <select type="text" ng-model="mHistory.interval" class="input-medium" ng-options="f for f in ['Daily', 'Monthly', 'Quaterly', 'Yearly']" >
            </select>
          </div>&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="gf-form max-width-14">
            <button type="submit" class="btn btn-success" ng-click="ctrl.getMaintenaneHistory(mHistory);"><i class="fa fa-bell-o"></i>Get Alert Messages</button>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>



    </form>


    <table class="filter-table form-inline">
      <thead>
      <tr style="width:100px">

        <th>Alert Message</th>

        <th>Status</th>
        <th></th>
        <th style="width: 34px;"></th>
      </tr>
      </thead>
      <tr ng-repeat="mhistory in ctrl.maintenanceHistoryByInterval">

        <td><span class="ellipsis">{{mhistory.message}}</span></td>


        <td>
          <span class="ellipsis"><i class="fa fa-thumbs-o-up">&nbsp;</i>{{mhistory.status}}</span>
        </td>

        <td class="text-right" >

          <button ng-if="'Done'!=mhistory.status" class="btn btn-success"   ng-click="ctrl.openMaintenanceHistoryModal(mhistory)" [ngStyle]="{style: expression}">
            <i class="fa fa-wrench"></i>
            Action
          </button>
        </td>

        <td>

        </td>
      </tr>
    </table><br>&nbsp;&nbsp;

</div></div>
